---
import HeaderSection from "../sections/header/Header-Section.astro";
import PorfolioSection from "../sections/Portfolio/Portfolio-Section.astro";

import Footer from "../sections/Footer/Footer.astro";


import Layout from '../layouts/Layout.astro';
import Skills from "../sections/Skills/Skills.astro";
---

<Layout>
	<div>
		<HeaderSection/>
		<PorfolioSection/>
		<Skills></Skills>
		<Footer></Footer>
	</div>
		
</Layout>
