---
import "./Navbar.css";
---

<nav class="navbar">
  <h6 class="logo">Joseph-q (En)</h6>

  <div class="menu-toggle" id="mobile-menu">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </div>

  <ul class="nav-list">
    <li><a href="#about">About me</a></li>
    <li><a href="#proyects">Proyects</a></li>
    <li><a href="#skills">Skills</a></li>
    <li><a href="#contact">Contact</a></li>
  </ul>
</nav>

<script>
  const mobileMenu = document.getElementById("mobile-menu");
  const navList = document.querySelector(".nav-list");
  
  if (mobileMenu != null && navList != null) {
    mobileMenu.addEventListener("click", () => {
      navList.classList.toggle("active");
    });
  }
</script>
