---
interface Props {
  title: string;
  img: string;
  link: string;
  badges: string[];
}
import Badge from "./Badge.astro";

const { img, link, badges, title } = Astro.props;
---

<div class="flex flex-1 max-w-lg flex-col h-full justify-center">
  <img src={"img/" + img} alt="" />
  <div class="w-full flex gap-5 justify-center mt-5">
    {badges.map((v) => <Badge url={"svg/"+v} width="30" />)}
  </div>
</div>
<div class="flex flex-1 flex-col h-full justify-between">
  <div>
    <h3 class="text-xl font-semibold">{title}</h3>
    <slot></slot>
  </div>

  <div class="flex mt-3 justify-end">
    <a href={link} target="_blank" class="text-blue-500">Visitar</a>
  </div>
</div>
