---
import Navbar from "../components/Navbar.astro";
import { getContent } from "../translations/translations";

const link = Astro.url.pathname.startsWith("/es") ? "/es/CV.pdf" : "/en/CV.pdf";
const content = getContent(Astro.url.pathname);
---

<div class="flex flex-col py-4 px-8 gap-y-8 xl:px-24 " id="about">
  <Navbar />
  <header class="flex flex-col md:flex-row gap-y-8 ">
    <div class="flex-1">
      <h1>{content.Header.title}</h1>
      <p class="leading-snug mt-8 text-white/50" set:html={content.Header.text} />

      <div class="text-end mt-3">
        <a href={link} class="button-download highlight"
          >{content.Header.button}</a
        >
      </div>
    </div>

    <div class="flex flex-1 justify-end">
      <img  width="450" height="400" src="/img/header-image.png" />
    </div>
  </header>
</div>

