---
import Badge from "../components/Badge.astro";
import { getContent } from "../translations/translations";

const content = getContent(Astro.url.pathname);
---

<section class="skills" id="skills">
  <h2>{content.Skills.title}</h2>

  <div class="skills-container">
    <Badge title=".NET" alt=".NET Logo" url="/svg/Net.svg" />
    <Badge title="NestJS" alt="NestJS Logo" url="/svg/NestJS.svg" />
    <Badge title="Angular" alt="Angular logo" url="/svg/Angular.svg" />
    <Badge title="React" alt="React Logo" url="/svg/React.svg" />
    <Badge
      title="Astro"
      alt="Astro Logo"
      url="/svg/Astro.svg"
    />
  </div>

  <div class="skills-container">
    <Badge title="C#" alt="Csharp Logo" url="/svg/Csharp.svg" />

    <Badge
      title="TypeScript"
      alt="TypeScript Logo"
      url="/svg/TypeScript.svg"
    />
    <Badge title="Node Js" alt="Node Logo" url="/svg/NodeJs.svg" />
    <Badge title="Go (Golang)" alt="Go Logo" url="/svg/Golang.svg" />
  </div>

  <div class="skills-container">
    <Badge
      title="Postgresql"
      alt="Postgresql_elephant"
      url="/svg/Postgresql.svg"
    />
    <Badge
    title="AWS"
    alt="Amazon Web Services Logo"
    url="/svg/AWS.svg"
  />
    <Badge
      title="Sql Server"
      alt="Sql Server logo"
      url="/svg/SqlServer.svg"
    />
  </div>

  <style>
    .skills {
      display: flex;
      flex-direction: column;
      text-align: center;
      padding: 20px;
      border-radius: 10px;
      margin: 20px 0;
      gap: 2.5rem;
    }

    .skills h2 {
      margin-bottom: 1rem;
    }

    .skills-container {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      gap: 20px;
    }
  </style>
</section>
