<section class="skills">
  <h2>Skills</h2>
  <div class="skills-container">
    <div class="skill">
      <img src="skills/angular-logo.svg" alt="Angular Logo" class="logo" />
      <p>Angular</p>
    </div>
    <div class="skill">
      <img
        src="skills/Typescript_logo_2020.svg"
        alt="TypeScript Logo"
        class="logo"
      />
      <p>TypeScript</p>
    </div>
    <div class="skill">
      <img src="skills/Microsoft_.NET_logo.svg" alt=".NET Logo" class="logo" />
      <p>.NET</p>
    </div>
    <div class="skill">
      <img src="skills/React-logo.svg" alt="React Logo" class="logo" />
      <p>React</p>
    </div>
    <div class="skill">
      <img src="skills/Go-Logo_Blue.svg" alt="Go Logo" class="logo" />
      <p>Go (Golang)</p>
    </div>
  </div>
</section>

<style>
  .skills {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    margin: 20px 0;
  }

  .skills h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }

  .skills-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
  }

  .skill {
    text-align: center;
    width: 120px;
  }

  .skill .logo {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
  }

  .skill p {
    font-size: 1.1rem;
    margin: 0;
  }
</style>
